<div class="row justify-content-center">
  <div class="col-10">
    <%= form_with(model: @post, class: "shadow p-3 mb-3 bg-info rounded", local: true, html: { multipart: true }) do |f| %>
        


        <div class="container">
        <% if @post.errors.any? %>
          <h2>The following errors prevented the post from being saved</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="form-group row">
          <%= f.label :name, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "enter name" %>
            </div>
        </div>

         <div class="form-group row">
            <%= f.file_field :image %>
        </div>

        <div class="form-group row">
          <%= f.label :age, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.number_field :age, class: "form-control shadow rounded", placeholder: "enter age" %>
            </div>
        </div>

        <div class="form-group row">
          <%= f.label :gender, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :gender, class: "form-control shadow rounded", placeholder: "enter male or female or other" %>
            </div>
        </div>

        <div class="form-group row">
          <%= f.label :company, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :company, class: "form-control shadow rounded", placeholder: "enter company" %>
            </div>
        </div>

        
        <div class="form-group row">
          <%= f.label :skills, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :skills, class: "form-control shadow rounded", placeholder: "write your skills" %>
            </div>
        </div>

        <div class="form-group row">
          <%= f.label :mobile, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.number_field :mobile, class: "form-control shadow rounded", placeholder: "enter mobile" %>
            </div>
        </div>

        <div class="form-group row">
          <%= f.label :email, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :email, class: "form-control shadow rounded", placeholder: "enter email" %>
            </div>
        </div>

        <div class="form-group row">
          <%= f.label :address, class: "col-2 col-form-label text-light" %>
            <div class="col-10"> 
              <%= f.text_area :address, rows: 10, class: "form-control shadow rounded", placeholder: "Current address" %>
            </div>
        </div>

        <div class="form-group row">
          <%= f.label :pin, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :pin, class: "form-control shadow rounded", placeholder: "enter pin" %>
            </div>
        </div>

        <div class="form-group row">
          <%= f.label :state, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :state, class: "form-control shadow rounded" %>
            </div>
        </div>

        <div class="form-group row">
          <%= f.label :country, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :country, class: "form-control shadow rounded" %>
            </div>
        </div>

        <div class="form-group row">
          <%= f.label :bio, class: "col-2 col-form-label text-light" %>
            <div class="col-10"> 
              <%= f.text_area :bio, rows: 10, class: "form-control shadow rounded", placeholder: "Biodata" %>
            </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
    <%= link_to '[ Cancel and return to posts listing ]', posts_path, class: "text-info" %>
  </div>
</div>